<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyecto primer HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <h4>Mi primer html</h4>

    <h1>Pochoclo, el gato</h1>

    <img width= "300" src="img/pocho.jpg" alt="Foto de Pocho">

    <h2>Un tipo con carácter</h2>

    <p class="parrafo-destacado">Lorem ipsum dolor sit amet consectetur adipisicing elit. <em>Pochum en cursiva y mayuscula</em> Iusto magnam sint at, quia eum numquam quidem necessitatibus suscipit unde voluptate recusandae dicta molestias aut sequi dolorem! Quisquam placeat nesciunt nihil?</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <strong> Pochum en negritum </strong>Aliquid nemo natus itaque eligendi consequatur eaque. Ratione, modi! Aliquam ipsa nobis, incidunt ab accusamus explicabo repudiandae, earum dolor perferendis magnam dolorem?
    </p>

    <strong>Pocho, Pochin, Pochito, Poquio, Posh</strong>

    <article class="contenedor01">
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis reiciendis suscipit cumque magni fugiat. Magni libero eos ex nostrum optio quae cum nulla. Reprehenderit animi dolore earum nulla sint nostrum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, eos. Alias repellendus inventore quia nesciunt illo accusantium expedita aut eaque tempora quis placeat nihil, iste ducimus nostrum, sapiente, fugit ad!
        </p>
        <p class="contenedor02">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni alias saepe, rerum ea aliquid totam incidunt quod ipsum earum autem ducimus aliquam mollitia dolores illo nemo nostrum temporibus dicta illum?</p>
    </article>

    <p class="oculto">
        Contenido oculto
    </p>

    <ol>
        <li>item 1</li>
        <li>item 1</li>
        <li>item 1</li>
    </ol>

    <ul>
        <li>item 1</li>
        <li>item 1</li>
        <li>item 1</li>
    </ul>

    <a href="http://www.google.com">Vamos a Google</a>

</body>

</html>